<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Physiciochemistry App</title>

    <!--TODO npm?-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../web/libs/material.indigo-pink.min.css">
    <script src="../web/libs/material.min.js"></script>
    <script src="../web/libs/angular.min.js"></script>
    <!---->
    <link rel="stylesheet" type="text/css" href="../web/res/css/material-icons.css">

    <style>
        .pointer {
            cursor: pointer;
        }
    </style>

</head>

<body ng-app="app" ng-controller="main">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">{{selectedProcess.name}}</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Przemiany</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link pointer" ng-repeat="process in processes" ng-click="selectProcess(process)">{{process.name}}</a>
            </nav>
        </div>

        <main class="mdl-layout__content">
            <div ng-show="selectedProcess.id === 1" ng-include src="'template1.html'"></div>
            <div ng-show="selectedProcess.id === 2" ng-include src="'template2.html'"></div>
            <div ng-show="selectedProcess.id === 3" ng-include src="'template3.html'"></div>
            <div ng-show="selectedProcess.id === 4" ng-include src="'template4.html'"></div>
        </main>
    </div>

    <script src="js/app.js"></script>
</body>

</html>


<script type="text/ng-template" id="template1.html">
    <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <h4>Zdefiniuj dane wejściowe</h4>
                <hr/>

                <div>
                    <span>Gaz: </span>
                    <button id="demo-menu-lower-left" class="mdl-button mdl-js-button ">
                        {{selectedProcess.data.gas.name? selectedProcess.data.gas.name : 'Wybierz'}}
                        <img src="res/arrow_down.png"></img>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
                        <li class="mdl-menu__item" ng-repeat="gas in gases" ng-click="selectedProcess.data.gas = gas">{{gas.name}}</li>
                    </ul>
                </div>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" ng-model="selectedProcess.data.mass" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Masa gazu</label>
                        <span class="mdl-textfield__error">Wprowadzone dane są nieprawidłowe</span>
                    </div>
                </form>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" ng-model="selectedProcess.data.startVolume" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                            id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Objętość początkowa</label>
                        <span class="mdl-textfield__error">Wprowadzone dane są nieprawidłowe</span>
                    </div>
                </form>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" ng-model="selectedProcess.data.endVolume" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Objętość końcowa</label>
                        <span class="mdl-textfield__error">Wprowadzone dane są nieprawidłowe</span>
                    </div>
                </form>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" ng-model="selectedProcess.data.startTemp" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Temperatura początkowa</label>
                        <span class="mdl-textfield__error">Wprowadzone dane są nieprawidłowe</span>
                    </div>
                </form>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" ng-model="selectedProcess.data.endTemp" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Temperatura końcowa</label>
                        <span class="mdl-textfield__error">Wprowadzone dane są nieprawidłowe</span>
                    </div>
                </form>
                <div class="align-right">
                    <button ng-click="selectedProcess.processFunction(selectedProcess.data)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">  
                            <span>Oblicz</span>
                    </button>
                </div>

            </div>
            <div class="mdl-cell mdl-cell--8-col">
                <h4>Wyniki</h4>
                <hr/>
                <p><b>Zdefiniowane dane</b></p>
                <div>
                    <p ng-show="selectedProcess.data.gas"><span>Gas: </span><i>[ {{selectedProcess.data.gas.name}}, m: {{selectedProcess.data.gas.moleMass}}u, Cw: {{selectedProcess.data.gas.properHeat}}J/gK, {{selectedProcess.data.gas.moleHeatWithConstPressure}}, {{selectedProcess.data.gas.moleHeatWithConstVolume}} ]</i></p>
                    <p ng-show="selectedProcess.data.mass"><span>Masa: </span><i>{{selectedProcess.data.mass}}g</i></p>
                    <p ng-show="selectedProcess.data.startVolume"><span>Objętość początkowa: </span><i>{{selectedProcess.data.startVolume}}m^3</i></p>
                    <p ng-show="selectedProcess.data.endVolume"><span>Objętość końcowa: </span><i>{{selectedProcess.data.endVolume}}m^3</i></p>
                    <p ng-show="selectedProcess.data.startTemp"><span>Temperatura początkowa: </span><i>{{selectedProcess.data.startTemp}}K</i></p>
                    <p ng-show="selectedProcess.data.endTemp"><span>Temperatura końcowa: </span><i>{{selectedProcess.data.endTemp}}K</i></p>
                </div>
                <hr/>
                <p><b>Wynik końcowy</b></p>
                <span>W: {{result.W  | number:4}}, </span>
                <span>   Q: {{result.Q  | number:4}}, </span>
                <span>   dH: {{result.dH  | number:4}}, </span>
                <span>   dU: {{result.dU  | number:4}}, </span>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="template2.html">
    <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <h4>Zdefiniuj dane wejściowe</h4>
                <hr/>

                <div>
                    <span>Gaz: </span>
                    <button id="demo-menu-lower-left2" class="mdl-button mdl-js-button ">
                        {{selectedProcess.data.gas.name? selectedProcess.data.gas.name : 'Wybierz'}}
                        <img src="res/arrow_down.png"></img>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left2">
                        <li class="mdl-menu__item" ng-repeat="gas in gases" ng-click="selectedProcess.data.gas = gas">{{gas.name}}</li>
                    </ul>
                </div>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" ng-model="selectedProcess.data.startTemp" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Temperatura poczatkowa</label>
                        <span class="mdl-textfield__error">Wprowadzone dane są nieprawidłowe</span>
                    </div>
                </form>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" ng-model="selectedProcess.data.startPressure" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                            id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Cisnienie poczatkowe</label>
                        <span class="mdl-textfield__error">Wprowadzone dane są nieprawidłowe</span>
                    </div>
                </form>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" ng-model="selectedProcess.data.endPressure" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                            id="sample2">
                        <label class="mdl-textfield__label" for="sample2">Cisnienie koncowe</label>
                        <span class="mdl-textfield__error">Wprowadzone dane są nieprawidłowe</span>
                    </div>
                </form>

                <div class="align-right">
                    <button ng-click="selectedProcess.processFunction(selectedProcess.data)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        <span>Oblicz</span>
                    </button>
                </div>

            </div>
            <div class="mdl-cell mdl-cell--8-col">
                <h4>Wyniki</h4>
                <hr/>
                <p><b>Zdefiniowane dane</b></p>
                <div>
                    <p ng-show="selectedProcess.data.gas"><span>Gas: </span><i>[ {{selectedProcess.data.gas.name}}, m: {{selectedProcess.data.gas.moleMass}}u, Cw: {{selectedProcess.data.gas.properHeat}}J/gK ]</i></p>
                    <p ng-show="selectedProcess.data.mass"><span>Masa: </span><i>{{selectedProcess.data.mass}}g</i></p>
                    <p ng-show="selectedProcess.data.startTemp"><span>Temperatura początkowaa: </span><i>{{selectedProcess.data.startTemp}}K</i></p>
                    <p ng-show="selectedProcess.data.startPressure"><span>Cisnienie poczatkowe </span><i>{{selectedProcess.data.startPressure}}Pa</i></p>
                    <p ng-show="selectedProcess.data.endPressure"><span>Cisnienie koncowe </span><i>{{selectedProcess.data.endPressure}}Pa</i></p>
                </div>
                <hr/>
                <p><b>Wynik końcowy</b></p>
                <span>W: {{result.W}}|</span>
                <span>Q: {{result.Q}}|</span>
                <span>dH: {{result.dH}}|</span>
                <span>dU: {{result.dU}}|</span>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="template3.html">
    <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <h4>Zdefiniuj dane wejściowe</h4>
                <hr/>



            </div>
            <div class="mdl-cell mdl-cell--8-col">
                <h4>Wyniki</h4>
                <hr/>

            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="template4.html">
    <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <h4>Zdefiniuj dane wejściowe</h4>
                <hr/>


            </div>
            <div class="mdl-cell mdl-cell--8-col">
                <h4>Wyniki</h4>
                <hr/>

            </div>
        </div>
    </div>
</script>